@media only screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a {
  color: #0784c3;
  text-decoration: none;
  line-height: 15px;
}

.card {
  border: solid 1px;
  border-radius: 4px;
  padding: 15px;
  border-color: #f0f0f0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.link {
  color: #0784c3;
  cursor: pointer;
}

.ml-10 {
  margin-left: 10px;
}

.ml-5 {
  margin-left: 5px;
}

.mt-20 {
  margin-top: 20px;
}

.my-10 {
  margin: 10px 0;
}
.mr-10 {
  margin-right: 10px;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.scroll {
  overflow: auto;
}

.card-body {
  padding: 15px;
}

.card {
  &.-head {
    padding: 0;
    .title {
      display: block;
      border-bottom: solid 1px #f0f0f0;
      margin: 0;
      padding: 15px;
    }
  }
}
